<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="maxClientsNumber" value="5" />
		<add key="clientPipeName" value="Hyperion.Client.Pipe" />
		<add key="serverPipeName" value="Hyperion.Server.Pipe" />
		<add key="greetingPipeName" value="Hyperion.Greeting.Pipe" />
		<add key="serverName" value="localhost" />
    <add key="clientSocketPort" value="524" />
    <add key="serverSocketPort" value="545" />
    <add key="greetingSocketPort" value="556" />
	</appSettings>
</configuration>